# include kernel and initramfs
artifacts/bzImage
artifacts/netpowered.cpio.gz
artifacts/vmlinux.h

# include submodules for nvim-telescope
assets/apk-tools
assets/ebpf_exporter
assets/FlameGraph

# misc file formats
*.svg
trace/ayaya/dsds/

# sparse files
mount-point
foo.*
