# include kernel and initramfs
artifacts/bzImage
artifacts/netpowered.cpio.gz
artifacts/vmlinux.h
artifacts/out.stackcount.*
artifacts/bar.img
changes.patch
outro/
artifacts/qcow2-rootfs/*
ebpf_exporter.x86_64
*/unused/*
distro/
artifacts/wget-list-dynamic.txt
artifacts/sources/*.tar.*
artifacts/sources/k3*
artifacts/sources/*.asc
artifacts/sources/qemu/*

artifacts/html_cov_rust
artifacts/coverage_go.out
artifacts/mock_ist.yaml
artifacts/bzImage_with_selinux
artifacts/extracted_vmlinux
artifacts/burn/

# valgrind related
callgrind.*
cap_example
prometheus-grafana.yaml
dot-dump-valgrind

# flamegraph related
out.*

# include submodules for nvim-telescope
assets/async-profiler/*
assets/apk-tools
assets/ebpf_exporter
assets/FlameGraph
assets/builda.sh
assets/zstd-test
/sample/
assets/ipxe
# misc file formats
*.svg
trace/ayaya/dsds/

# misc trace
trace/hello.bpf.c
trace/hello.yaml
trace/vmlinux.h


# sparse files
mount-point
foo.*
utils/storage/eulab-hd
utils/storage/k3s-tarball-squashfs.img

# gcc dump for graph generation
# (-fdump-tree-all-graph)
*.original
*.gimple
*.omplower
*.lower
*.eh
*.cfg
*.cfg.dot
*.ompexp
*.ompexp.dot
*.profile_estimate
*.statistics
*.earlydebug
*.debug

# clang dump for graph generation
# (-Xclang -ast-dump -fsyntax-only) > file.txt
ast.txt
graph.c
trace/graphs
main.png
outro.1

# c-tests
/scripts/forkexec-idiom/*
/tests/go.mod
/tests/main.go

# honeypotion clang code generation
trace/hpota/lib/hpota/src/
trace/hpota/lib/hpota/obj/

# other assets
assets/makefile2graph
Dockerfile.stripped
outfull.svg

# libbpf co-re and other vmlinux
trace/libbpf-core/examples/Makefile
trace/libbpf-core/examples/*.o
trace/libbpf-core/examples/*.skel.h
trace/libbpf-core/examples/vmlinux.h
trace/libbpf-core/examples/ocisnoop
trace/libbpf-core/final/vmlinux.h
artifacts/ocisnoop
trace/exporter-libbpfgo/vmlinux.h
trace/libbpf-core/final/.output/*

deploy/oci_cri/podman/Dockerfile
airflow/
libguestfs/
sample/
quicktest/
outro/
ipc-tests/
containers/

# dropbear
artifacts/dropbear/*

# scripts
./scripts/qonq.sh
artifacts/replaSED-qonq.sh
artifacts/unsealed-qonq.sh

# more artifacts
artifacts/ssh-keys/*
artifacts/ssh-rootfs/*

# bpftrace
capable.bt

# Ftrace
trace/Ftrace/ftrace.sample.out

# Assets
assets/curl/
#assets/runit/
newart/
assets/blazesym/
assets/libbpf-bootstrap/

# Workflows
.github/workflows/downloader.yml
.github/workflows/qemu.yml

# Kernel assets
assets/kernel/app/
assets/module_kernel_build

# More artifacts

alpine_3-20-6.tar
artifacts/BURNA_FINAL/
artifacts/burna-almost-iso.tar.gz
artifacts/bzImage_0.3.1
artifacts/k3s-airgap/
artifacts/kjx-headless.iso
artifacts/kjx-headless_v2.iso
artifacts/libs/
artifacts/oci-registry-tarball.tar
artifacts/ramdisk_backups/
artifacts/rootfs.sqfs
artifacts/tracers/

logs/
qqqq.json

# Capabilities sample list
idk-edited

# Bootloaders
eltorito.img

# Airgap OCI Registry
eeita/*

# Dummy initramfs.cpio.gz decompressed into base rootfs
dadada/*
./scripts/testfilehmm.txt

# Ftrace files
set_ftrace_pid

# bcc files
assets/bcc/

# other misc
eeeita/
assets/libbpf/
assets/bpftool/
assets/HeatMap/

# do not include iso generated files
*.iso

# commits helper
artifacts/commits-memo.txt

# beetor trace post-bootscript
scripts/libkjx/unused-scripts/beetor
