[submodule "assets/ebpf_exporter"]
	path = assets/ebpf_exporter
	url = git@github.com:cloudflare/ebpf_exporter.git
[submodule "assets/apk-tools"]
	path = assets/apk-tools
	url = https://git.alpinelinux.org/apk-tools
[submodule "assets/FlameGraph"]
	path = assets/FlameGraph
	url = git@github.com:brendangregg/FlameGraph.git
[submodule "assets/HeatMap"]
	path = assets/HeatMap
	url = git@github.com:brendangregg/HeatMap.git
[submodule "assets/libbpf-bootstrap"]
	path = assets/libbpf-bootstrap
	url = git@github.com:libbpf/libbpf-bootstrap.git

[submodule "assets/blazesym"]
	path = assets/blazesym
	url = git@github.com:libbpf/blazesym.git
[submodule "assets/bpftool"]
	path = assets/bpftool
	url = git@github.com:libbpf/bpftool.git
[submodule "assets/libbpf"]
	path = assets/libbpf
	url = git@github.com:libbpf/libbpf.git
[submodule "assets/bcc"]
	path = assets/bcc
	url = git@github.com:iovisor/bcc.git
[submodule "assets/ipxe"]
	path = assets/ipxe
	url = https://github.com/ipxe/ipxe
[submodule "assets/async-profiler"]
	path = assets/async-profiler
	url = git@github.com:async-profiler/async-profiler.git
[submodule "assets/ap-loader"]
	path = assets/ap-loader
	url = git@github.com:jvm-profiling-tools/ap-loader.git
[submodule "assets/non-oci/rkt"]
	path = assets/non-oci/rkt
	url = git@github.com:rkt/rkt.git
[submodule "assets/non-oci/lxc"]
	path = assets/non-oci/lxc
	url = git@github.com:lxc/lxc.git
[submodule "assets/non-oci/libvzctl"]
	path = assets/non-oci/libvzctl
	url = git@github.com:OpenVZ/libvzctl.git
