name: downloader

# This rule triggers when the workflow will run
on:
  # run the workflow manually from Actions tab
  workflow_dispatch:

# jobs can run in sequence or parallel in a workflow
jobs:
  download_artifacts:
    runs-on: ubuntu-latest
    steps:

      - name: Access current repository
        uses: actions/checkout@v4

      - name: fetch artifact from the kernel workflow run
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts/bzImage
          workflow: bzImage
          github-token: ${{ secrets.FETCH_ARTIFACT }} # token with actions:read permissions on target repo
          repository: ${{ github.repository }}
          run-id: 1234

      - name: fetch artifact from the initramfs workflow run
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/artifacts/initramfs.cpio.gz
          workflow: initramfs
          github-token: ${{ secrets.FETCH_ARTIFACT }}
          repository: ${{ github.repository }}
          run-id: 9876


  # This single job is called "build"
  build:
    # Specify the operating system for the runner job
    runs-on: ubuntu-latest
    env:
      git_hash: $(git rev-parse --short "$GITHUB_SHA")

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # the job gets runned into $GITHUB_WORKSPACE, that is the environment variable for the repo
      - name: Access current repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Build docker image
        run: |
          docker run -d -p 5000:5000 --name registry registry:latest
          docker compose -f ./compose.yml --progress=plain build kernel
          docker push localhost:5000/linux_build:latest

      - name: Retrieve bzImage artifact from docker image
        run: |
          docker run -it --name kernel -d localhost:5000/linux_build:latest
          docker cp kernel:/app/artifacts/bzImage ${{ github.workspace }}/artifacts/

      - name: Build docker image
        run: |
          docker run -d -p 5000:5000 --name registry registry:2.7
          # env git_hash env goes into the compose.yml
          docker compose -f ./compose.yml --progress=plain build initramfs
          docker push localhost:5000/initramfs:latest
          #podman build -t initramfs:latest -f ./utils/busybox/Dockerfile


      - name: Retrieve artifact from docker image
        run: |
          docker run -it --name initramfs -d localhost:5000/initramfs:latest
          docker cp initramfs:./initramfs.cpio.gz ${{ github.workspace }}/artifacts/


      - name: Build iso9660
        run: |
          . ./scripts/ccr.sh; checker && \
          . ./scripts/image.sh build && \
          . ./scripts/image.sh runtime && \
          docker cp "$contname":/app/output.iso ./artifacts/kjx-headless.iso && \
          docker rm "$contname" && \
          docker stop registry

      - name: Archive the build artifact
        uses: actions/upload-artifact@v4
        with:
          name: bubo
          # image size: 8.48MB
          # artifact size: 829.6K
          path: ${{ github.workspace }}/artifacts/output.iso
