name: llcr all-in-one
# builds and packages all low-level container runtimes
on:
  push:
    branches:
      - 'llcr/aio'
      - 'pipelines/ci-cd'
  pull_request:
    branches:
      - 'main'
      - 'releases/**'
  schedule:
    - cron: '11 12 * * 1,3,6'
  # run the workflow manually from Actions tab
  workflow_dispatch:
  # run the workflow when called from another workflow
  #workflow_call:
  workflow_run:
    workflows: [runc, crun, containerd, youki]
    types:
      - completed
    branches: ['llcr/aio']


jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: echo 'The triggering workflow passed'
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed'

  # build:
  #   runs-on: ubuntu-latest
  #   # strategy:
  #   #   fail-fast: false
  #   #   matrix:
  #   #     arch: [gvisor, kata, firecracker]
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       submodules: true

  #   - name: Build OCI image (cross-compile)
  #     run: |
  #       make llcr-aio

